@import '../sizes';
@import '../colors';
@import '../mixins';

.container {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  width: 100%;
  max-width: $mobileL;
  margin: 0 auto;

  &Inner {
    padding: 10px 5px;
    @include primaryText;
    & h1 {
      font-size: 26px;
      text-transform: capitalize;
      margin-bottom: 20px;
    }

    & h3 {
      font-size: 20px;
      text-transform: capitalize;
      margin-bottom: 10px;
    }
    & ul {
      margin-bottom: 10px;
      & li {
        margin-left: 20px;
        margin-bottom: 5px;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }

    a {
      display: block;
      margin-bottom: 10px;
      color: $textSecondary;
    }
    @media screen and (min-width: $tablet) {
      padding: 30px 20px;
    }
  }
}

.btnContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
