@import '../colors';
@import '../mixins';
@import '../sizes';

.container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  @include primaryText;

  & p {
    margin-bottom: 10px;
  }
}

.btnContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
