@import '../sizes';
@import '../colors';
@import '../mixins';

.btn {
  position: fixed;
  width: 40px;
  height: 40px;
  bottom: 20px;
  right: 20px;
  border: none;
  outline: none;
  background: none;
  @include primaryText;
  background-color: $primary;
  color: $textPrimary;
  font-size: 18px;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);

  &None {
    display: none;
    pointer-events: none;
  }

  @media screen and (min-width: $laptop) {
    bottom: 40px;
    right: 40px;
    width: 60px;
    height: 60px;
    font-size: 20px;
  }
}
