@import '../../colors';
@import '../../mixins';
@import '../../sizes';

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: $primary;
  box-shadow: 0px 4px 3px -2px rgba(0, 0, 0, 0.2);
  z-index: 100;

  &Inner {
    width: 100%;
    height: 100%;
    max-width: $laptop;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    & .nav {
      &List {
        list-style: none;
        display: flex;
        justify-content: flex-end;
        &Item {
          margin-right: 0px;
          &:last-of-type {
            margin-right: 0;
          }

          @media screen and (min-width: $mobileL) {
            margin-right: 10px;
          }
          @media screen and (min-width: $laptop) {
            margin-right: 20px;
          }
          & .active {
            color: $secondary;
            text-decoration: underline;
          }

          &Link {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            padding: 5px 15px;
            color: $textPrimary;

            @include primaryText;
            text-decoration: none;
            text-transform: uppercase;
            text-align: center;
            font-size: 12px;
            font-weight: 700;
            transition: all 0.3s ease-in-out;

            @media screen and (min-width: $mobileL) {
              font-size: 14px;
            }
            @media screen and (min-width: $laptop) {
              font-size: 16px;
            }
            @media screen and (min-width: $laptopL) {
              font-size: 20px;
            }

            &:hover {
              color: $accent2;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}
