@import '../../sizes';
@import '../../colors';
@import '../../mixins';

.title {
  font-size: 14px;
  color: $gray;
  background-color: $gray;
  width: 80%;

  @media screena and (min-width: $mobileL) {
    font-size: 16px;
  }
}
.mb20 {
  margin-bottom: 20px;
}

.text20,
.text40,
.text60,
.text80 {
  font-size: 12px;
  color: $gray;
  background-color: $gray;
  margin-bottom: 5px;

  @media screena and (min-width: $mobileL) {
    font-size: 14px;
  }
}
.text20 {
  width: 20%;
}
.text40 {
  width: 40%;
}
.text60 {
  width: 60%;
}
.text80 {
  width: 80%;
}

.productDescription {
  &Container {
    margin-top: 10px;
    width: 100%;
    max-width: $mobileL;
    @media screen and (min-width: $tablet) {
      max-width: $mobileS;
      margin-top: 0;
      margin-left: 10px;
    }
    @media screen and (min-width: $laptop) {
      margin-left: 20px;
    }
  }
  padding: 5px;
  min-width: 280px;
  width: 100%;
  @media screen and (min-width: $mobileL) {
    padding: 10px;
  }
  @media screen and (min-width: $laptop) {
    min-width: $mobileS;
  }
}

.productGallery {
  padding: 5px 0;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $mobileL) {
    padding: 10px 5px;
  }
  &Container {
    width: 100%;
    max-width: $mobileL;
  }

  & .thumbnail {
    background-color: $gray;
    width: 100%;
    height: 300px !important;
    margin-bottom: 10px;
    @media screen and (min-width: $mobileL) {
      margin-bottom: 20px;
      height: $mobileL;
    }
  }

  & .gallery {
    display: flex;
    overflow-x: hidden;

    &Img {
      width: 125px;
      height: 125px;
      margin-right: 10px;
      background-color: $gray;
      flex-shrink: 0;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}
