@import '../../sizes';
@import '../../colors';
@import '../../mixins';

.gridCol1,
.gridCol2,
.gridCol4 {
  flex-grow: 1;
  display: grid;
  grid-gap: 10px;
}

.gridCol1 {
  grid-template-columns: 1fr;
}
.gridCol2 {
  grid-template-columns: 1fr;
  @media screen and (min-width: $mobileL) {
    grid-template-columns: repeat(2, 1fr);
  }
}
.gridCol4 {
  grid-template-columns: 1fr;
  @media screen and (min-width: $mobileL) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  @media screen and (min-width: $laptop) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

.endMsg {
  width: fit-content;
  margin: 20px auto;
  color: rgba(0, 0, 0, 0.5);
  @include primaryText;
  font-size: 16px;
  font-weight: 700;
}
