$primary: #218380;
$secondary: #fec0aa;

$accent1: #87f6ff;
$accent2: #ec4e20;

$background: #ced0ce;
$gray: #ced0ce;
$white: #f4f4f4;
$black: #040404;
$textPrimary: #f4f4f4;
$textSecondary: #040404;

$error: #69140e;
$success: #29bf12;
$warning: #ffad05;
