@import 'colors';
@import 'mixins';
@import 'sizes';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: $background;
  color: $textPrimary;

  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: linear-gradient(to bottom, $primary 50%, $secondary 51%);
  }
  ::-webkit-scrollbar-thumb {
    background: $primary;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: $secondary;
  }
}

#root {
  overflow-x: hidden;
}
